sensor:
  - platform: prometheus_sensor
    url: http://192.168.178.104:9090
    queries:
      - name: PV1-Voltage
        unique_id: foxess_inv1_pv1_voltage
        expr: foxess_inv1_pv1_voltage * 0.1
        unit_of_measurement: V
        device_class: voltage
        state_class: measurement
      - name: PV1-Current
        unique_id: foxess_inv1_pv1_current
        expr: foxess_inv1_pv1_current * 0.1
        unit_of_measurement: A
        device_class: current
        state_class: measurement
      - name: PV1-Power
        unique_id: foxess_inv1_pv1_power
        expr: foxess_inv1_pv1_power
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: PV2-Voltage
        unique_id: foxess_inv1_pv2_voltage
        expr: foxess_inv1_pv2_voltage * 0.1
        unit_of_measurement: V
        device_class: voltage
        state_class: measurement
      - name: PV2-Current
        unique_id: foxess_inv1_pv2_current
        expr: foxess_inv1_pv2_current * 0.1
        unit_of_measurement: A
        device_class: current
        state_class: measurement
      - name: PV2-Power
        unique_id: foxess_inv1_pv2_power
        expr: foxess_inv1_pv2_power
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Grid Voltage R
        unique_id: foxess_inv1_grid_voltage_R
        expr: foxess_inv1_grid_voltage_R * 0.1
        unit_of_measurement: V
        device_class: voltage
        state_class: measurement
      - name: Grid Voltage S
        unique_id: foxess_inv1_grid_voltage_S
        expr: foxess_inv1_grid_voltage_S * 0.1
        unit_of_measurement: V
        device_class: voltage
        state_class: measurement
      - name: Grid Voltage T
        unique_id: foxess_inv1_grid_voltage_T
        expr: foxess_inv1_grid_voltage_T * 0.1
        unit_of_measurement: V
        device_class: voltage
        state_class: measurement
      - name: Inv Current R
        unique_id: foxess_inv1_inv_current_R
        expr: foxess_inv1_inv_current_R * 0.1
        unit_of_measurement: A
        device_class: current
        state_class: measurement
      - name: Inv Current S
        unique_id: foxess_inv1_inv_current_S
        expr: foxess_inv1_inv_current_S * 0.1
        unit_of_measurement: A
        device_class: current
        state_class: measurement
      - name: Inv Current T
        unique_id: foxess_inv1_inv_current_T
        expr: foxess_inv1_inv_current_T * 0.1
        unit_of_measurement: A
        device_class: current
        state_class: measurement
      - name: Inv Power R
        unique_id: foxess_inv1_inv_power_R
        expr: foxess_inv1_inv_power_R
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Inv Power S
        unique_id: foxess_inv1_inv_power_S
        expr: foxess_inv1_inv_power_S
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Inv Power T
        unique_id: foxess_inv1_inv_power_T
        expr: foxess_inv1_inv_power_T
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Grid Frequency
        unique_id: foxess_inv1_grid_frequency
        expr: foxess_inv1_grid_frequency * 0.01
        unit_of_measurement: Hz
        device_class: frequency
        state_class: measurement
      - name: EPS Power R
        unique_id: foxess_inv1_eps_power_R
        expr: foxess_inv1_eps_power_R
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: EPS Power S
        unique_id: foxess_inv1_eps_power_S
        expr: foxess_inv1_eps_power_S
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: EPS Power T
        unique_id: foxess_inv1_eps_power_T
        expr: foxess_inv1_eps_power_T
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: EPS Frequency
        unique_id: foxess_inv1_eps_frequency
        expr: foxess_inv1_eps_frequency * 0.01
        unit_of_measurement: Hz
        device_class: frequency
        state_class: measurement
      - name: Meter Power R
        unique_id: foxess_meter1_power_r
        expr: foxess_meter1_power_r
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Meter Power S
        unique_id: foxess_meter1_power_s
        expr: foxess_meter1_power_s
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Meter Power T
        unique_id: foxess_meter1_power_t
        expr: foxess_meter1_power_t
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Load Power R
        unique_id: foxess_inv1_load_power_r
        expr: foxess_inv1_load_power_r
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Load Power S
        unique_id: foxess_inv1_load_power_s
        expr: foxess_inv1_load_power_s
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Load Power T
        unique_id: foxess_inv1_load_power_t
        expr: foxess_inv1_load_power_t
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Inv Temperature
        unique_id: foxess_inv1_inverter_temperature
        expr: foxess_inv1_inverter_temperature * 0.1
        unit_of_measurement: °C
        device_class: temperature
        state_class: measurement
      - name: Inner Temperature
        unique_id: foxess_inv1_internal_temperature
        expr: foxess_inv1_internal_temperature * 0.1
        unit_of_measurement: °C
        device_class: temperature
        state_class: measurement
      - name: Battery Voltage
        unique_id: foxess_inv1_battery_voltage
        expr: foxess_inv1_battery_voltage * 0.1
        unit_of_measurement: V
        device_class: voltage
        state_class: measurement
      - name: Battery Current
        unique_id: foxess_inv1_battery_current
        expr: foxess_inv1_battery_current * 0.1
        unit_of_measurement: A
        device_class: current
        state_class: measurement
      - name: Battery Discharge Power
        unique_id: foxess_inv1_battery_power
        expr: foxess_inv1_battery_power
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Battery Temperature
        unique_id: foxess_inv1_battery_temperature
        expr: foxess_inv1_battery_temperature * 0.1
        unit_of_measurement: °C
        device_class: temperature
        state_class: measurement
      - name: Battery SoC
        unique_id: foxess_inv1_battery_soc
        expr: foxess_inv1_battery_soc
        unit_of_measurement: '%'
        device_class: battery
        state_class: measurement
      - name: Inverter State Code
        unique_id: foxess_inv1_state_code
        expr: foxess_inv1_state_code
        state_class: measurement
      - name: Inverter Fault 1 Code
        unique_id: foxess_inv1_fault1_code
        expr: foxess_inv1_fault1_code
        state_class: measurement
      - name: Inverter Fault 2 Code
        unique_id: foxess_inv1_fault2_code
        expr: foxess_inv1_fault2_code
        state_class: measurement
      - name: Inverter Fault 3 Code
        unique_id: foxess_inv1_fault3_code
        expr: foxess_inv1_fault3_code
        state_class: measurement
      - name: PV Power Total
        unique_id: foxess_inv1_pv_power_total
        expr: foxess_inv1_pv_power_total
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Meter Power Total
        unique_id: foxess_meter1_power_total
        expr: foxess_meter1_power_total
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Inverter Power Total
        unique_id: foxess_inv1_output_power
        expr: foxess_inv1_output_power
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: House Consumption Power
        unique_id: foxess_house_consumption_power
        expr: foxess_house_consumption_power
        unit_of_measurement: W
        device_class: power
        state_class: measurement
      - name: Inverter Model
        unique_id: foxess_inv1_model
        expr: foxess_inv1_model
        state_class: measurement
      - name: PV Energy total
        unique_id: foxess_inv1_total_pv_energy
        expr: foxess_inv1_total_pv_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: PV Energy daily
        unique_id: foxess_inv1_daily_pv_energy
        expr: foxess_inv1_daily_pv_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Battery Charge Energy total
        unique_id: foxess_inv1_total_charge_energy
        expr: foxess_inv1_total_charge_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Battery Charge Energy daily
        unique_id: foxess_inv1_daily_charge_energy
        expr: foxess_inv1_daily_charge_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Battery Discharge Energy total
        unique_id: foxess_inv1_total_discharge_energy
        expr: foxess_inv1_total_discharge_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Battery Discharge Energy daily
        unique_id: foxess_inv1_daily_discharge_energy
        expr: foxess_inv1_daily_discharge_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Meter Feed-in Energy total
        unique_id: foxess_sm1_total_feedin_energy
        expr: foxess_sm1_total_feedin_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Meter Feed-in Energy daily
        unique_id: foxess_sm1_daily_feedin_energy
        expr: foxess_sm1_daily_feedin_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Meter Consumption Energy total
        unique_id: foxess_sm1_total_consumption_energy
        expr: foxess_sm1_total_consumption_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Meter Consumption Energy daily
        unique_id: foxess_sm1_daily_consumption_energy
        expr: foxess_sm1_daily_consumption_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Meter Output Energy total
        unique_id: foxess_sm1_total_output_energy
        expr: foxess_sm1_total_output_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Meter Output Energy daily
        unique_id: foxess_sm1_daily_output_energy
        expr: foxess_sm1_daily_output_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Meter Input Energy total
        unique_id: foxess_sm1_total_input_energy
        expr: foxess_sm1_total_input_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Meter Input Energy daily
        unique_id: foxess_sm1_daily_input_energy
        expr: foxess_sm1_daily_input_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Inv Load Energy total
        unique_id: foxess_inv1_total_load_energy
        expr: foxess_inv1_total_load_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing
      - name: Inv Load Energy daily
        unique_id: foxess_inv1_daily_load_energy
        expr: foxess_inv1_daily_load_energy * 0.1
        unit_of_measurement: kWh
        device_class: energy
        state_class: total_increasing

  - method: left
    name: pv1_sum
    unique_id: foxess_inv1_pv1_sum
    platform: integration
    round: 2
    source: sensor.pv1_power
    unit_time: h
  - method: left
    name: pv2_sum
    unique_id: foxess_inv1_pv2_sum
    platform: integration
    round: 2
    source: sensor.pv2_power
    unit_time: h
  - method: left
    name: pv_total_sum
    unique_id: foxess_inv1_pv_total_sum
    platform: integration
    round: 2
    source: sensor.pv_power_now
    unit_time: h
  - method: left
    name: load_sum
    unique_id: foxess_inv1_load_sum
    platform: integration
    round: 2
    source: sensor.load_power
    unit_time: h
  - method: left
    name: bat_charge_sum
    unique_id: foxess_inv1_bat_charge_sum
    platform: integration
    round: 2
    source: sensor.battery_charge
    unit_time: h
  - method: left
    name: bat_discharge_sum
    unique_id: foxess_inv1_bat_discharge_sum
    platform: integration
    round: 2
    source: sensor.battery_discharge
    unit_time: h
  - method: left
    name: feedin_sum
    unique_id: foxess_inv1_feedin_sum
    platform: integration
    round: 2
    source: sensor.feed_in_power
    unit_time: h
  - method: left
    name: grid_consumption_sum
    unique_id: foxess_inv1_grid_consumption_sum
    platform: integration
    round: 2
    source: sensor.grid_consumption
    unit_time: h
  - platform: integration
    name: losses_sum
    unique_id: foxess_inv1_losses_sum
    source: sensor.system_losses
    unit_time: h
    method: left
    round: 2

 #Templates enable math operations against states/values to give us better data
template:
  - sensor:
    - name: "Battery Discharge"
      unique_id: foxess_inv1_battery_discharge
      device_class: "power"
      unit_of_measurement: "kW"
      state: >
          {% if (states('sensor.battery_discharge_power') | float(default=0) ) > 0 %}
          {{ states('sensor.battery_discharge_power') | float(default=0) * 1 }}
          {% else %}
          0 
          {% endif %}
    - name: "Battery Charge"
      unique_id: foxess_inv1_battery_charge
      device_class: "power"
      unit_of_measurement: "kW"
      state: >
          {% if (states('sensor.battery_discharge_power') | float(default=0) ) < 0 %}
          {{ states('sensor.battery_discharge_power') | float(default=0) * -1 }}
          {% else %}
          0 
          {% endif %}
    - name: "Feed In Power"
      unique_id: foxess_inv1_feed_in_power
      device_class: "power"
      unit_of_measurement: "kW"
      state: >
          {% if (states('sensor.grid_ct') | float(default=0) ) > 0 %}
          {{ states('sensor.grid_ct') | float(default=0) * 1 }}
          {% else %}
          0 
          {% endif %}
    - name: "Grid Consumption"
      unique_id: foxess_inv1_grid_consumption
      device_class: "power"
      unit_of_measurement: "kW"
      state: >
          {% if (states('sensor.grid_ct') | float(default=0) ) < 0 %}
          {{ states('sensor.grid_ct') | float(default=0) * -1 }}
          {% else %}
          0 
          {% endif %}
    - name: "PV Power Now"
      unique_id: foxess_inv1_pv_power_now
      device_class: "power"
      unit_of_measurement: "kW"
      state: >
            {{ (states('sensor.pv1_power') | float(default=0) + states('sensor.pv2_power') | float(default=0) ) * 1 }}
    - name: "PV Energy Daily"
      unique_id: foxess_inv1_pv_energy_daily
      device_class: "energy"
      unit_of_measurement: "kWh"
      state: >
            {{ ((states('sensor.pv1_daily') | float(default=0) + states('sensor.pv2_daily') | float(default=0) ) * 1 ) | round(2) }} 
    - name: "System Losses"
      unique_id: foxess_inv1_system_losses
      device_class: "power"
      unit_of_measurement: "kW"
      state: >
             {{ ((states('sensor.pv1_power') | float(default=0)
             + states('sensor.pv2_power') | float(default=0)
             + states('sensor.grid_consumption') | float(default=0)
             + states('sensor.battery_discharge') | float(default=0)
             - states('sensor.battery_charge') | float(default=0)
             - states('sensor.feed_in_power') | float(default=0)
             - states('sensor.load_power') | float(default=0) )) | round(2) }}
    - name: "Time Period 1 - Start Time"
      unique_id: foxess_inv1_time_period_1_start_time
      icon: "mdi:calendar-clock"
      state: >
        {% set raw_time = states('sensor.time_period_1_start') | int %}
        {% set hours = raw_time // 256 %}
        {% set minutes = raw_time - (hours * 256) %}
        {{ strptime(hours | string + ":" + minutes | string, '%H:%M').time() }}
    - name: "Time Period 1 - End Time"
      unique_id: foxess_inv1_time_period_1_end_time
      icon: "mdi:calendar-clock"
      state: >
        {% set raw_time = states('sensor.time_period_1_end') | int %}
        {% set hours = raw_time // 256 %}
        {% set minutes = raw_time - (hours * 256) %}
        {{ strptime(hours | string + ":" + minutes | string, '%H:%M').time() }}
    - name: "Time Period 2 - Start Time"
      unique_id: foxess_inv1_time_period_2_start_time
      icon: "mdi:calendar-clock"
      state: >
        {% set raw_time = states('sensor.time_period_2_start') | int %}
        {% set hours = raw_time // 256 %}
        {% set minutes = raw_time - (hours * 256) %}
        {{ strptime(hours | string + ":" + minutes | string, '%H:%M').time() }}
    - name: "Time Period 2 - End Time"
      unique_id: foxess_inv1_time_period_2_end_time
      icon: "mdi:calendar-clock"
      state: >
        {% set raw_time = states('sensor.time_period_2_end') | int %}
        {% set hours = raw_time // 256 %}
        {% set minutes = raw_time - (hours * 256) %}
        {{ strptime(hours | string + ":" + minutes | string, '%H:%M').time() }}

# Utility Meters - Provides meters to be used with the energy dashboard and reset daily
utility_meter:
  load_daily:
    unique_id: foxess_inv1_load_daily
    source: sensor.load_sum
    cycle: daily
  pv1_daily:
    unique_id: foxess_inv1_pv1_daily
    source: sensor.pv1_sum
    cycle: daily
  pv2_daily:
    unique_id: foxess_inv1_pv2_daily
    source: sensor.pv2_sum
    cycle: daily
  bat_charge_daily:
    unique_id: foxess_inv1_bat_charge_daily
    source: sensor.bat_charge_sum
    cycle: daily
  bat_discharge_daily:
    unique_id: foxess_inv1_bat_discharge_daily
    source: sensor.bat_discharge_sum
    cycle: daily
  feedin_daily:
    unique_id: foxess_inv1_feedin_daily
    source: sensor.feedin_sum
    cycle: daily
  grid_daily:
    unique_id: foxess_inv1_grid_daily
    source: sensor.grid_consumption_sum
    cycle: daily
  losses_daily:
    unique_id: foxess_inv1_losses_daily
    source: sensor.losses_sum
    cycle: daily
